
.tagline{
    line-height: 0%;
    
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

li{
    float: left;;
    padding: 24px;
background-color: #dddddd;
top: 0;
position: sticky;
}